{% extends 'AutosApp/base.html' %}

{% load static %}

{% block tituloPagina %}
Concesionario - Vehiculos disponibles
{% endblock %}

{% block contenidoPagina %}

<h2 class="text-center mb-5"> Vehiculos disponibles :</h2>

<!---- <div id="toolbar">
    <form id="changelist-search" method="get">
        <div>
            <label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
            <input type="text" size="40" name="q" value="" id="searchbar" autofocus="">
            <input type="submit" value="Buscar">
        </div>
    </form>    
</div> --->

<table class="table table-dark table-striped">
    <thead>
        <td> Marca </td> 
        <td> Modelo </td>
        <td> Año </td>
        <td> Precio US$ </td>            
    </thead>
    {% for auto in autos %}
    <tr>
        <td> {{auto.marca}} </td>
        <td> {{auto.modelo}} </td>
        <td> {{auto.año}} </td>
        <td> {{auto.precio}} </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}