{% extends 'AutosApp/base.html' %}

{% load static %}

{% block tituloPagina %}
Login - Concesionario
{% endblock %}

{% block contenidoPagina %}
<br><br>

<section class="bg-light py-5" style="background-image: url(https://img.remediosdigitales.com/39c8f5/0001-mercedes-300-sl-amg-restomod_001/840_560.jpg); background-size:auto ">
    <div class="container px-5">
        <h1 style="color: white; ">Inicia Sesión</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Iniciar sesion</button>
        </form>
    </div>
</section>

<br><br><br><br><br><br><br>
{% endblock %}