{% extends 'AutosApp/base.html' %}

{% load static %}

{% block tituloPagina %}
Concesionario - Vendedores
{% endblock %}

{% block contenidoPagina %}
<section class="bg-light py-5" style="background-image: url(https://images.unsplash.com/photo-1520050206274-a1ae44613e6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80)">
    <div class="container px-5">
        <body>
                <h1>Concesionario</h1>
                <h3>Nuestro equipo de vendedores: </h3>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-10 table-responsive">
                        <table class="table table-dark table-striped">
                            <thead>
                                <td> Nombre </td>
                                <td> Apellido </td>
                                        
                            </thead>
                            
                            <tr>
                                <td> {{vendedor.nombre}} </td>
                                <td> {{vendedor.apellido}} </td>
                            </tr>
                            
                        </table>
                        <br><br><br><br><br>
                    </div>
                </div>    
        </body>
    </div>
</section>
{% endblock %}