Hola, no se la verdad que poner aca jaja

Mi nombre es Mateo y elegi hacer mi app con tematica de concesionario porque siempre me gustaron los autos y la idea de vender autos.
labure en un concesionario de volkswagen en La Plata hasta que me rajaron porque me fui 15 dias de vacaciones en mi 3er mes de estar ahi xd.

La App tiene fallas y algunas(o varias) cosas que le faltan, al ver las clases de playground intermedio en adelante muchas veces me perdia porque no entendia nada,
despues de terminar el curso volvi a mirar todo varias veces y la verdad me entretuve mucho porque empece a entender mucho mas podiendo ver todo mas detenidamente,
aparte me gustaba el ver que las cosas no salian y ser capaz de encontrar la solucion yo solo mediante razonamiento, asi que bueno,
contento mas alla del resultado de esta entrega y tengo un par de cosas en mente para seguir practicando y mejorando.

Muchas gracias Lucas! O quien sea que lea esto xd
Abrazo enorme !